<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:p="http://www.springframework.org/schema/p" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

  <bean id="serializingTranscoder" class="net.spy.memcached.transcoders.SerializingTranscoder"
    p:compressionThreshold="1024" />

  <bean id="memcachedClient" class="net.spy.memcached.spring.MemcachedClientFactoryBean" p:servers="localhost:11211 localhost:11212"
    p:protocol="TEXT" p:opTimeout="1000" p:timeoutExceptionThreshold="1998" p:locatorType="CONSISTENT" p:failureMode="Redistribute"
    p:useNagleAlgorithm="false" p:transcoder-ref="serializingTranscoder">
    <property name="hashAlg">
      <value type="net.spy.memcached.DefaultHashAlgorithm">KETAMA_HASH</value>
    </property>
  </bean>

</beans>
